.topbar__whole {
  width: 1920px;
  display: flex;
  justify-content: center;
  background-color: #98c1d9;
}
.topbar {
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftTitle {
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.main {
  width: 1920px;
  display: flex;
  justify-content: center;
}
.mapInformation {
  width: 1200px;
  height: 960px;
  display: flex;
}
.map__left {
  width: 50%;
  height: 500px;
  overflow: hidden;
  /* border: 1px solid black; */
}
.cityInformation__right {
  display: block;
  width: 50%;
  height: 500px;
  /* border: 1px solid black; */
}
svg {
  align-items: center;
  display: flex;
}
g {
  align-items: center;
  justify-content: center;
}
.county {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}
.county:hover {
  fill: #977c00;
}
