.topbar__whole {
  width: 1920px;
  display: flex;
  justify-content: center;
  background-color: gainsboro;
}
.topbar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftTitle {
  font-size: 16px;
}
.mapInformation {
  width: 1200px;
  height: 960px;
  display: flex;
}
.map__left {
  width: 50%;
  height: 800px;
  overflow: hidden;
  border: 1px solid black;
}
.cityInformation__right {
  display: block;
}
svg {
  align-items: center;
  display: flex;
}
g {
  align-items: center;
  justify-content: center;
}
.county {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}
.county:hover {
  fill: #977c00;
}
