.topbar__whole {
  width: 1920px;
  display: flex;
  justify-content: center;
  background-color: #98c1d9;
}
.topbar {
  width: 1200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftTitle {
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.main {
  width: 1920px;
  /* margin-top: 200px; */
  display: flex;
  justify-content: center;
}
.mapInformation {
  width: 1200px;
  height: 1000px;
  display: flex;
}
.map__left {
  width: 50%;
  height: 1000px;
  overflow: hidden;
  position: relative;
  /* border: 1px solid black; */
}
.map__small--up {
  width: 150px;
  height: 100px;
  overflow: hidden;
  position: absolute;
  bottom: 60%;
  left: 25%;
  border: 1px solid black;
  z-index: 10;
}
.map__small--down {
  width: 100px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  bottom: 45%;
  left: 25%;
  border: 1px solid black;
  z-index: 10;
}
.cityInformation__right {
  width: 50%;
  height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.county {
  fill: white;
  stroke: black;
  stroke-width: 1px;
}
.county:hover {
  fill: #977c00;
}
.country {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
.country:hover {
  fill: #977c00;
}
.country2 {
  fill: white;
  stroke: black;
  stroke-width: 2px;
}
.country2:hover {
  fill: #977c00;
}
.cityInformation__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cityInformation__content p {
  color: grey;
  font-size: 16px;
  font-weight: 400;
}
.informationBar {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
#weatherBtn {
  width: 50%;
  background-color: #98c1d9;
  border: 1px solid white;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
