.topbar__whole {
  max-width: 1920px;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primary-300);
  color: var(--color-white-100);
}
.footer {
  background: var(--color-primary-600);
  padding: 55px;
}

.footer > p {
  text-align: center;
  color: var(--color-white-100);
}
